body {
  font-family: 'patchy-robots';
  background-color: black;
  margin: 0px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'patchy-robots';
  src: url('assets/patchy-robots.ttf');
}
