{
  "presets": ["env", "stage-3"],
  "plugins": [
    ["transform-inline-environment-variables", {
      "include": [
        "CONTROLLER_URL",
        "ERROR_LOGGING",
        "HTTP_ADDRESS",
        "VERSION",
        "WS_ADDRESS"
      ]
    }]
  ]
}
