body {
  margin: 0;
  padding: 0;
  font-family: 'patchy-robots';
  background: #414844;
  margin: 0px;
}

@font-face {
  font-family: 'patchy-robots';
  src: url('patchy-robots.ttf');
}

#controller-left {
  padding-top: 15px;
  letter-spacing: 0.3em;
  text-align: center;
  flex: 1;
  background: #be5d4b;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#controller-right{
  padding-top: 15px;
  letter-spacing: 0.3em;
  text-align: center;
  flex: 1;
  background: #839870;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#controller-container {
  display: flex;
  height: 100vh;
}

#lobby-container {
  display: flex;
  flex-direction: column;
}

button {
  letter-spacing: 0.1em;
  font-size: 8vw;
  border: none;
  background: transparent;
  color: #4085AF;
  font-family:'patchy-robots' 
}

.flex-box {
  height: 30vh;
  font-family : inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-join-input {
  letter-spacing: 0.5em;
  font-size: 4vw; 
  text-align: center;
  text-decoration: none;
  font-family: 'patchy-robots';
  max-width: 100%;
  outline: none;
  border: 0px;
  background: transparent;
  border-bottom: 3px solid #4085AF;
  width: 40%;
  caret-color: #4085AF;
  color: #4085AF
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
