button {
  letter-spacing: 0.1em;
  font-size: 8vw;
  border: none;
  background: transparent;
  color: #4085AF;
  font-family:'patchy-robots';
  border: 0.1em solid #4085AF;
  border-radius: 0.12em;
  box-shadow: 0.1em 0.1em;
  transition: all ease 0.05s;
  position: relative;
  top: 0rem;
  left: 0rem;
}

button:active {
  box-shadow: 0rem 0rem;
  top: 0.1em;
  left: 0.1em;
}

.flex-box {
  height: 30vh;
  font-family : inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-join-input {
  letter-spacing: 0.5em;
  font-size: 4vw; 
  text-align: center;
  text-decoration: none;
  font-family: 'patchy-robots';
  max-width: 100%;
  outline: none;
  border: 0px;
  background: transparent;
  border-bottom: 3px solid #4085AF;
  width: 40%;
  caret-color: #4085AF;
  color: #4085AF
}

.my-component {
  background: #414844;
}

.fullscreen {
  background: #414844;
}
 
.fullscreen-enabled .my-component {
  background: #414844;
}
